.table-container {
    text-align: center;
}

table {
    border: 1px solid black;
    width: 100%;
}

th, td {
    border: 1px solid black;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}